// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2021, Daniel Jacob Chittoor <djchittoor47@gmail.com>
 */

&storage_cd {
        mux {
            /delete-property/ pins;
            /delete-property/ function;
        };
        config {
            /delete-property/ pins;
            /delete-property/ bias-pull-up;
            /delete-property/ drive-strength;
        };
};

&qupv3_se7_spi_active {
        mux {
            pins = "gpio98", "gpio99","gpio101";
        };
        config {
            pins = "gpio98", "gpio99","gpio101";
        };
};

&fsa_usbc_ana_en {
        mux {
            /delete-property/ pins;
            /delete-property/ function;
        };
        config {
            /delete-property/ pins;
            /delete-property/ bias-disable;
            /delete-property/ drive-strength;
            /delete-property/ output-low;
        };
};
